* {
    margin: 0;
    padding: 0;
    text-align: center;
}

div{
    width: 100%;
    position: relative;
    animation: mymove 4s infinite;
    text-align: center;
}

img{
    width: 100%;
    max-height: 500px;
    max-width: 500px;
}

@keyframes mymove {
    0% {top: 0px;}
    50% {top: 400px;}
    to {top: 0px;}
  }